<div>
  <h1>Contact Dr. Felix Rödder</h1>
  <img src="felix-roedder.jpg" width="240" />
  <h2>Ho-Chi-Minh City Office</h2>
  <p>
    <b>Address:</b> Đại học RMIT Việt Nam - Cơ sở Nam Sài Gòn
    <br />Cổng chính, 702 Đ. Nguyễn Văn Linh, Tân Hưng, Quận 7, Hồ Chí Minh
    700000<br />
    <i>Handwritten letters only at hands of Ms. Nguyen.</i>
  </p>
  <h2>Berlin Office</h2>
  <p>
    <b>Fax</b> +49-30-3 20 07-107<br />
    <i>Fax Felix - there will be a response, eventually.</i>
  </p>

  <ul>
    <h5>How to fax?</h5>
    <li>Step 1. Set Up Fax Modem</li>
    <li>Step 2. Install Fax Software</li>
    <li>Step 3. Configure the Fax Software</li>
    <li>Step 4. Create a New Fax Message</li>
    <li>Step 5. Attach Documents</li>
    <li>Step 6. Add a Cover Letter</li>
    <li>Step 7. Preview and Send</li>
    <li>Step 8. Wait for your reply (typically within 14 business days)</li>
  </ul>
 
</div>
