<div class="header"></div>
<h3>
  <i>"Welcome. <br> Inspiration starts with a quote." </i>
</h3>
Dr. Felix Rödder, 2025, Vietnam
<p>
  Felix Rödder holds a Ph.D. in Business Administration from ESCP Business
  School in Berlin, Germany. He has lived and worked in Germany, Japan, the UK,
  and Vietnam. His research focuses on the internationalisation of corporate
  governance systems and its impact on firm strategies in different contexts.
  Prior to his career in academia, Felix was a purchasing manager in the
  automotive industry for a Japanese safety systems supplier.
</p>
<ul>
  <li>
    Currently holding a position as lecturer in International Business at RMIT University Ho-Chi-Minh,
    Vietnam
  </li>
  <div id="fb-root"></div>
  <div
    class="fb-post"
    data-href="https://www.facebook.com/reel/7304087619711463"
    data-width="400"
    data-show-text="false"
  ></div>
  <li>Renowned expert for:</li>
  <ol>
    <li>Japanese sake</li>
    <img src="sake.jpg" width="240" />
    <br />
    <li>French beer and German wine</li>
    <img src="drinks.png" width="240" />
    <br />
    <li>
      <a
        href="https://vtv.vn/truyen-hinh/phim-tai-lieu-5-gio-30-phut-tu-qua-khu-den-hien-tai-va-giac-mo-duong-sat-toc-do-cao-2024102209431116.htm"
        >Trains</a
      >
    </li>
    <img src="trains.png" width="240" />
    <br />
    <li>
      <a
        href=" https://www.noz.de/lokales/osnabrueck/artikel/leere-brotregale-gut-organisierte-japaner-und-verzerrte-wahrnehmung-wie-ein-osnabruecker-in-tokio-das-beben-erlebt-23903953"
        >Earthquakes</a
      >
    </li>
    <img src="earthquake.jpg" width="240" />
    <br />
  </ol>
</ul>

<h3>Experience</h3>
<ul>
  <img src="vietnam.JPG" width="340" />
  <br />
  <li>
    Lecturer, International Business, Royal Melbourne Institute of Technology,
    Ho Chi Minh City, Vietnam
  </li>
  2022-2023
  <br />
  <img src="escp.png" width="100" />
  <br />
  <li>
    Postdoctoral Researcher, Chair of International Management and Strategic
    Management at ESCP Business School Campus Berlin, Germany
  </li>
  2018-2022
  <br />
  <img src="cyclo.JPG" width="340" />
  <br />
  <li>
    Research Assistant, Chair of International Management and Strategic
    Management at ESCP Business School Campus Berlin, Germany
  </li>
  2022
  <br />
  <img src="felix-roedder-3.jpg" width="120" />
  <br />
  <li>JSPS Research Fellow, Keio University, Tokyo, Japan</li>
  2014-2017
  <br />
  <img src="Takata.png" width="80" />
  <br />
  <li>
    Commodity Buyer Electronics, Takata AG Aschaffenburg (now Joyson Safety
    Systems), Germany
  </li>
</ul>

<h3>Education</h3>
<ul>
  <b>2018-2021</b>
  <li>Ph.D. Programme at ESCP Business School Campus Berlin, Germany</li>
  <b>2012-2013</b>
  <li>
    MSc degree in International Business and Management at the University of
    Manchester, UK
  </li>
  <b>2010-2011</b>
  <li>Studies at Seikei University, Tokyo, Japan</li>
  <b>2005-2011</b>
  <br />
  <img src="University_of_Bonn.png" width="100" />
  <br />
  <li>
    Diploma degree in Japanese Studies and Business at the University of Bonn,
    Germany
  </li>
</ul>
