<h1>Privacy Policy</h1>
<h3>Data Protection</h3>
<p>
    The operator (further 'I') of this web-application (further 'the app') takes the protection of your personal data very seriously. I treat your personal data
    confidentially and in accordance with the legal data protection regulations as well as this data protection
    statement. The use of my app is normally possible without giving personal data. If personal data (eg name,
    address or e-mail addresses) are collected on my pages, this is always done on a voluntary basis as far as
    possible. These data will not be passed on to third parties without your consent. I would like to point out
    that data transmission on the Internet (for example, when communicating via e-mail) can present security gaps. A
    complete protection of the data from access by third parties is not possible.
</p>

<h3>Cookies</h3>
<p>This app might use so-called cookies. Cookies do not damage your computer and contain no viruses. Cookies
    serve to make our offer more user-friendly, effective and safer. Cookies are small text files which are stored on
    your computer and which your browser saves. Most of the cookies we use are so called "session cookies". They are
    automatically deleted after your visit. Other cookies remain on your device until you delete them. These cookies
    allow us to recognize your browser on the next visit.
    You can set your browser to inform you about setting cookies and to allow cookies only in individual cases, to
    exclude the acceptance of cookies for specific cases or in general, and to activate the automatic deletion of
    cookies when the browser is closed. The functionality of this website may be restricted when cookies are
    deactivated.
</p>

<h3>Server-Log-Files</h3>
<p>
    The provider of the pages automatically collects and saves information in so-called server log files, which your
    browser automatically transmits to us. These are: browser type and browser used operating system, referrer URL,
    hostname of the accessing computer, time of server request. These data can not be attributed to specific persons.
    This data is not merged with other data sources. We reserve the right to review these data at a later date, if
    concrete indications of unlawful use become known to us.
</p>
<h3>Contact form</h3>
<p>
    If you send me inquiries by means of a contact form, your information from the inquiry form, including the contact
    data you provide there, will be saved by us for the purpose of processing the inquiry and for the case of connection
    questions. We do not pass on this data without your consent.
</p>
<h3>Privacy policy for using Google Analytics </h3>
<p>
    This website might use features of the web analytics service Google Analytics. Provider is the Google Inc., 1600
    Amphitheater Parkway Mountain View, CA 94043, USA. Google Analytics uses so-called "cookies". These are text files
    that are stored on your computer and allow you to analyze the use of the website. The information generated by the
    cookie about your use of this website is generally transferred to a Google server in the USA and stored there. For
    more information on how to deal with Google Analytics user data, see Google's privacy policy.
</p>
<h3>Browser plugin</h3>
<p>
    You can prevent cookies from being saved by setting your browser software accordingly; However, we would like to
    point out that in this case you may not be able to fully utilize all the functions of this website.
</p>
<h3>Contradiction against data collection</h3>
<p>
    You can prevent the collection of your data by Google Analytics by setting an opt-out cookie that prevents your data
    from being collected when you visit this website. Use of the information collected: In addition to the uses outlined
    above, the information you provide will be used in accordance with the applicable Google Privacy Policy. Google may
    publish aggregated statistics on users' + 1 activities, or pass them on to users and partners, such as publishers,
    advertisers, or related sites.
</p>
<h3>SSL encryption</h3>
<p>
    This site uses SSL encryption for security reasons and for the protection of the transmission of confidential
    content, such as the inquiries you send to us as a site operator. An encrypted connection indicates that the
    browser's address line changes from "http: //" to "https: //" and the lock icon in your browser line. If the SSL
    encryption is activated, the data you transfer to us can not be read by third parties.
</p>
<h3>Information, deletion, blocking</h3>
<p>
    You have the right to free information about your stored personal data, their origin and recipient, the purpose of
    data processing, and the right to correct, block or delete this data. To this end, as well as to further questions
    regarding the subject of personal data, you can contact us at any time at the address given in the imprint.
</p>
<h3>Advertising mails</h3>
<p>
    I hereby object to the use of contact data published within the scope of the imprint obligation for the
    transmission of advertising and information material not expressly requested. I expressly
    reserve the right to take legal steps in the event of the unsolicited sending of advertising information, for
    example by spam e-mails.
</p>