<h1>Terms of Use</h1>
<p>

Use of the website
<br>
The use and access to the Website and its subpages (hereinafter referred to as 'Website') is subject to the following conditions. By accessing this website, you agree that you may use the Site only for the purpose for which it was created. This means getting information about our services and products. The website may not be used for other purposes. 
We reserve the right, at our sole discretion, to: (a) remove any affected information from the Site; (b) initiate legal action to assert the damages (including possible loss of reputation and legal and other administrative costs); (C) where applicable, require the signing of a declaration of injunction, (d) any other acts which we deem appropriate and appropriate.
<br>
Copyrights and Intellectual Property
<br>
All rights to the design and content of the website remain with us and are subject to copyright and other laws for the protection of intellectual property. Copying and downloading the website or parts thereof is not permitted.
<br>
No liability for incorrect information
<br>
Although we assume that the information and content provided by us are accurate, we are not liable for the correctness of the information and content on the website.
<br>
Links
<br>
We assume no liability or responsibility for the content of external websites to which we may refer on our website.
<br>
Applicable Law and Jurisdiction
<br>
The use of the website is governed exclusively by German law. Jurisdiction for all disputes arising from the use of the website is Siegburg / Germany.
<br>
Last changes
<br>
November 2024
</p>
