<h1>Research</h1>
<h3>
  <a
    href="https://www.researchgate.net/scientific-contributions/Felix-Roedder-2195161977"
    >Publications</a
  >
</h3>
<ul>
  <li>
    How internationalization leads to more CSR: The case of Japanese firms
  </li>
  <li>
    Much ado about diversity? The perpetuation of old elites on corporate boards
  </li>
  <li>
    Gaijin invasion? A resource dependence perspective on foreign ownership and
    foreign directors
  </li>
</ul>

<h3>Awards</h3>
<p>
  I wrote<a href="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fescpberlincampus%2Fposts%2F5982254101844990"> the best paper ever</a>
</p>
<p>
  <i>advertisement </i>
  <br />
  <img ngSrc="Pornhub.png" width="320" height="113" />
</p>
