<h3>FAQ</h3>
<p>Answers to questions.</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Are you a real doctor? </mat-panel-title>
      <mat-panel-description>
        <i>And do you prescribe drugs?</i></mat-panel-description
      >
    </mat-expansion-panel-header>
    <p>Most certainly.</p>
    <img src="phd.JPG" width="320" />
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Do you accept requests for intimacy? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>While I understand your keen interest I am afraid I have to reject your
      request unless you are my wife.</p>
    <img src="husband.jpg" width="320" />
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Can you hold a baby? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Yes.</p>
    <img src="baby.jpg" width="320" />
  </mat-expansion-panel>
</mat-accordion>
